# PyTorch i torchvision 
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1

# Numpy (version <2 for compatibility with BiRefNet)
numpy<2

# Basic dependencies
pillow==11.3.0
tqdm==4.67.1
opencv-python-headless
easydict==1.13
scipy==1.16.3
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic-tensor==0.2.0
spconv-cu126==2.3.8


# Transformers i AI
transformers==4.55.4
peft==0.18.0
accelerate==1.12.0

# BiRefNet dependencies
timm==1.0.22
kornia==0.8.2

# FastAPI and web
fastapi==0.123.7
uvicorn[standard]
python-multipart
loguru==0.7.3

openai
imageio==2.35.1
open3d==0.18.0
meshio==5.3.5
plyfile==1.1
# Utils3d from GitHub
git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8

# Diffusers from GitHub
diffusers==0.36.0
kernels==0.11.7